@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

@media all and (max-width: 700px) {
    header, content, footer {
        width: auto !important;
        margin: 3px !important;
    }
}

body {
    margin:0;
    padding:0;

    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #ffffff;
    color: #444;
}

header, content, footer {
    display: block;
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
}

header *, content *, footer * {
    max-width: 100%;
}

.article-meta {
    display: block;
    margin-bottom: 10px;
}

.article-title {
    margin: 10px, 0px;
}

/* Elements */
a:link, a:visited {
    color: #4691AE;
    text-decoration:none;
}

strong, b {
    color: #C182AD;
}

em, i {
    color: #3DBD41;
}

hr {
    border: none;
    border-top: 1px solid #a1b56c;
}

code {
    color: #E5A846;
    background-color: #282828;
    font-family: 'monoOne', monospace;
    border-radius: 5px;
    padding: 2px;
}

pre {
    padding: 4px;
    background-color: #282828;
    color: #E5A846;
    border-radius: 5px;
    overflow:auto;
}

pre code {
    border-radius: 0;
    padding: 0;
}

ul,ol  {
    /*padding-left: 10px;*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px;
}

blockquote {
    margin:0px;
    padding-left:5px;
    border-left: 3px solid #585858;
}


/* posts */
.date {
    font-size: 0.9em;
    margin: 2px 0px;
    padding: 0px;
}

/* pager */
ul.pager {
    padding:0;
    margin:0;
    list-style-type:none;
}
ul.pager li {
    display: inline;
    margin-right: 10px;
}
/* Header */
header {
    margin-bottom: 20px;
}

header ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

header ul li {
    display: inline;
    margin-right: 10px;
}
header ul li {
    display: inline;
}

/* footer */
footer {
    font-size: 0.9em;
}

footer .copyright {
    float: left;
}

#coleslaw-logo {
    float: right;
}

